
/**********************************************************************
Form Page Styles
**********************************************************************/

* {
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: 'Rubik', sans-serif;
}

body {
  color: #141414;
  font-size: 14px;
  line-height: 1.5em;
}
a {
  text-decoration: none;
  color: #5DB6CF;
}
a:hover {
  color: #141414;
}

.form-header {
  background-color: #6c6c6c;
  padding: 2em 5em;
}
.form-header h1 {
  color: white;

}
.form-header h3 {
  color: #C5D0C1;
  font-weight: 300;
}
.form-footer {
  border-top: 1px solid #eaeaea;
  padding: 1em 5em;
}

.ajax-message {
  background-color: #FAFAFA;
  display: none;
  padding: 1em;
  right: 3em;
  top: 3em;
}
.ajax-success {
  background-color: #e9efda;
  border: 1px solid #b6cf7b;
}
.ajax-error {
  background-color: #f8edeb;
  border: 1px solid #dd5f4b;
}

/**********************************************************************
Form elements styling
**********************************************************************/

#contact {
  padding: 2em 5em;
}

#contact form input,
#contact form textarea {
  margin-top: 10px;
  padding: 10px;
  min-width: 280px;
  border-top-style: none;
  border-width: 4px;
  border-color: #C5D0C1;
  border-left-style: none;
  background-color: #C5D0C1;
  box-shadow: none;
  font-size: 22px;
  color: #6C6C6C;
  outline-color: #6C6C6C;
}
#contact form label,
#contact form button {
  font-family: rubik, sans-serif;
  font-weight: 500;
  color: #6c6c6c;
}
#contact form label {
  display: block;
}
#contact form button {
  color: #C5D0C1;
  margin-top: 20px;
  border: none;
  background-color: #6c6c6c;
  border-radius: 100px;
  width: 150px;
  height: 40px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}
#contact form button:hover {
  color: #6c6c6c;
  background-color: #C5D0C1;
}
#contact form textarea {
  height: 100px;
  resize: both;
}

.input-container,
.textarea-container {
  padding: 20px 0;
}

.errors {
  color: red;
}
